<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.birdvision.equibiz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".seller.product.ProductDetailsActivity" />
        <activity
            android:name=".seller.SellerHomeActivity"
            android:label="@string/title_activity_seller_home"
            android:theme="@style/NoActionBarTheme.NoActionBar" />
        <activity
            android:name=".buyer.BuyerHomeActivity"
            android:label="@string/title_activity_buyer_home"
            android:theme="@style/NoActionBarTheme.NoActionBar" />
        <activity android:name=".buyer.product.ProductListActivity" />
        <activity android:name=".userInfo.ForgotPasswordActivity" />
        <activity android:name=".buyer.orders.ConfirmOrderActivity" />
        <activity android:name=".buyer.orders.OrderActivity" />
        <activity android:name=".buyer.notifications.NotificationActivity" />
        <activity android:name=".userInfo.VerificationActivity" />
        <activity android:name=".userInfo.BusinessDetailsActivity" />
        <activity
            android:name=".userInfo.RegisterActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".userInfo.LoginActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".buyer.product.ProductActivity" />
    </application>

</manifest>